@CHARSET "ISO-8859-1";
@import "bourbon";
body {
	/* background: #eee !important; */
	background-image: url("rich-street-bridge-with-lights-4 (1).jpg");
	background-size:100%
	background-repeat: no-repeat;
	background-attachment: fixed;
     background-position: center; 
}

#menu-open{
	padding-left:55px;
	padding-top:20px;
	font-size: 20px
}

#menu-collapse{
	padding-left:52px;
	padding-top: 2px;
}

#side-bar-links{
	padding-top:10px;
	font-family:'Open Sans'; 
	padding-left:40px;
}

.top-nav-header {
	height: 76px;
	background-color:white;
}

.logout{
	float:right;
	padding-right: 20px;
	padding-top: 30px;
}

.wrapper {
	margin-top: 80px;
	margin-bottom: 80px;
	margin-left: 200px;
	margin-right: 200px;
	background-color: white;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 10px;
}
p{
	font-size:17px;
}